@charset "UTF-8";

header{
    background-color: aquamarine;
}

button{
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
    width: 70px;
    cursor: pointer;
}

a{
    text-decoration-line: none;
    color: inherit;
}