/* article_list.blade.php */
.article-list__btn--add {
    margin-top: 20px;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: #169398;
}

.article-list__btn--add a {
    color: #fff;
    text-decoration: none;
}

.article-list__table {
    margin: 50px 0 0 20px;
}

.article-list__table thead th {
    text-align: left;
    padding: 10px;
}

.article-list__table tbody tr td {
    padding: 10px;
}

.articles-list__btn--edit {
    margin-left: 30px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #169398;
}

.articles-list__btn--edit a {
    color: #fff;
    text-decoration: none;
}

.articles-list__btn--remove {
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #e24949;
    cursor: pointer;
}

.articles-list__btn--remove a {
    color: #fff;
    text-decoration: none;
}

/* edit、create共通クラス */
.article__form {
    margin: 50px auto 0;
}

.validation-comment {
    margin-top: 3px;
}

.input-form {
    display: flex;
    margin-top: 30px;
    width: 60%;
}

.input-form label {
    display: block;
    margin: 0 auto;
    width: 15%;
}

.input-form input,
.input-form textarea {
    width: 85%;
}

.article__form button {
    display: block;
    margin: 50px auto 0;
    width: 130px;
    border: none;
    border-radius: 2px;
    color: #fff;
    background-color: #555;
    cursor: pointer;
}
